#basket_admin_page {
  .views-exposed-form {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    .form-actions input{
      margin: 28px 0 0;
    }
  }
  :focus {
    box-shadow: none;
  }
  td{
    height: auto;
    vertical-align: middle;
  }

  .pager{
    .is-active,
    .pager__item--current{
      background-color: inherit;
      color: #000;
    }
  }
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon.ui-icon-closethick {
  transform: none !important;
}

body.path-admin.gin--classic-toolbar {
  padding-block-start: 40px !important;
}
